nav{
    background-color: black;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
li{
    margin: 1vh 4vw;
}
button{

    background-color: black;
    border: hidden;
}
a{
    color: white;
}
.buttonDeath{
    
}